name: Azure Cloud Storage Automation

on:
  push:
    branches:
      - main
  workflow_dispatch:  # Allows manual runs from GitHub UI

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Echo test
        run: echo "Workflow triggered successfully!"
